# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pybuild/

.pytest_cache

*.kicad_pcb-bak
*.epr
htmlcov/
pp/
output/
.coverage
.coverage.*
TODO
inti.png
tags
ojo/
.cache
.cache_3d
log
.*~
*.dst

# Gerber specs that can't be uploaded to GitHub
info/Gerber/

# Nice images, but too big
experiments/resistor_colors/resistor_tht-3D_top.png
experiments/resistor_colors/resistor_tht-3D_blender_top.png

# Random experiments
experiments/GenCad/
experiments/Hellen-One/
experiments/JLC/
experiments/SVG/
experiments/__doc__/modules/
experiments/grammar/
experiments/kicad/ChangeFootprint/
experiments/kicad/Interposition/
experiments/kicad/Plot_Layer/
experiments/kicad/Print_Layer/v5_print/
experiments/pcbdraw-mask/

